.App {
  text-align: center;
  background-color: #264653;
  height: 100vh;
}

#newT{
  font-size: 2rem;
  border-radius: 15px;
}

.tableHeader{
  background-color: #2a9d8f;
  font-size: 1.5rem;
  
}

.tableCont{
  color: #264653;
  font-size: 1.2rem;
}

#checkBox{
  height: 30px;
  width: 30px;
}

.text-cong{
  display: flex;
  position: absolute;
  margin-left: 7%;
  margin-top: 30px;
  font-size: 2.6rem;
  border-radius: 20px;
  padding: 10px;

}

.tasks-counter{
  text-align: end;
  padding-bottom: 10px;
}

.tasks-counter h2{
  color: #ccd5ae;
  font-size: 1.5em;
}

.count{
  padding-right: 20%;
}

.p{
  color: #f94144;
  font-size: 2em;
  margin: 10px;
}

.d{
  color: #90be6d;
  font-size: 2em;
  margin: 10px;
}